.principle
	background-color #f4f4f4
	&__in
		@extends .in
		padding-top $pV
		padding-bottom $pV
		text-align center
		+r($t)
			padding-top 20px
			padding-bottom 30px
	&__title
		opacity 0.95
		color #313131
		font-family $pS
		font-size 19px
		font-weight 600
		+r($t)
			font-size 18px
	&__slogan
		color #ec5b1c
		font-size 24px
		font-family $p
		font-weight 700
		letter-spacing 0.3px
		+r($t)
			padding-top 6px
			display block