.principle
	background-color #f4f4f4
	&__in
		@extends .in
		padding-top $pV
		padding-bottom $pV
		text-align center
	&__title
		opacity 0.95
		color #313131
		font-family $pS
		font-size 19px
		font-weight 600
	&__slogan
		color #ec5b1c
		font-size 24px
		font-weight 700
		letter-spacing 0.3px