.steps
	&__in
		@extends .in
		padding-top $pV
		padding-bottom $pV
		+r($tM)
			padding-top 20px
			padding-bottom 20px
	&__list
		display flex
		justify-content flex-start
		align-items flex-start
		flex-flow row wrap
		counter-reset step
		+r($tM)
			justify-content center
	&__step
		max-width 285px
		width 100%
		+r($tM)
			text-align left

	.slick-current
		+r($tM)
			text-align center

	.slick-dots
		li
			position relative
			border 1px solid transparent
			width 18px
			height 18px
			border-radius 50%
			background #fff
			button
				position absolute
				top 50%
				left 50%
				border 0px solid transparent
				width 0px
				height 0px
				background-color #f5861f
				opacity 0.5
				border-radius 50%
				transform translate(-50%, -50%)
				&:before
					display none

			&.slick-active
				border 1px solid #ec5b1c
				background #fff
				button
					border 3px solid #fff
					width 16px
					height 16px
					background-color #ec5b1c
					opacity 1
.step
	&__top
		position relative
		margin-bottom 18px
		height 80px
		&:before
			position absolute
			z-index 1
			top 0
			left 0
			width 80px
			height 80px
			counter-increment step
			content counter(step)
			color #ec5b1c
			font-size 55px
			text-align center
			line-height 80px
	&__icon
		position absolute
		top 0
		right 0
	&__number
		position absolute
		top 0
		left 0
		width 80px
		height 80px
		border-radius 50%

	&__text
		opacity .95
		color #313131
		font-family $p
		font-weight normal
		line-height 1.5
		letter-spacing 0.18px
		strong
			font-family $pS
			font-weight 600
			letter-spacing 0.17px
		a
			color #108cdf
			font-family $pS
			font-weight 600
			letter-spacing 0.17px
			text-decoration none
			&:hover
				text-decoration none


.step_1
	.step__icon
		top 13px
		left 62px
		width 84px
		height 55px
.step_2
	.step__icon
		top 4px
		left 78px
		width 53px
		height 70px
.step_3
	.step__icon
		top 10px
		left 70px
		width 68px
		height 59px
.step_4
	.step__icon
		top 10px
		left 70px
		width 68px
		height 68px
