mixin basketcard()
	section.basketcard&attributes(attributes)
		.basketcard__in
			.basketcard__content
				h1.basketcard__title.title.title_biggest Карта баскетболиста
				.basketcard__text
					p Уникальная программа лояльности
			.basketcard__image.image.image_right
				img(src="assets/images/content/basketcard.png", alt="")