.basketcard
	background url('../images/content/basketcard-bg.jpg') 50% 0 no-repeat
	background-size cover 
	&__in
		@extends .in
		padding-top 64px
		padding-bottom 64px
		display flex
		flex-flow row wrap
		align-items center
		color #fff
	&__content
		max-width 475px
		width 100%
	&__title
		margin-bottom 23px
	&__text
		opacity .95
		font-size 24px
		letter-spacing 0.26px
		line-height 1.333
	&__image
		max-width 665px
		width 100%