.what
	background url('../images/content/what-bg.jpg') 50% 0 no-repeat
	background-size cover
	color #fff
	&__in
		@extends .in
		padding-top $pV
		padding-bottom $pV
		text-align center
	&__title
		margin-bottom 19px
	&__text,
	&__note
		margin auto
		max-width 950px



	&__text
		margin-bottom 16px
		opacity 0.95
		font-family $pS
		font-size 24px
		font-weight 600
		letter-spacing 0.3px
		line-height 1.333
	&__note
		font-size 16px
		font-weight 400
		letter-spacing 0.17px
		line-height 1.5
		span,
		strong
			font-weight 700

