mixin what()
	section.what&attributes(attributes)
		.what__in
			h2.what__title.title Что это дает?
			.what__text
				p «Карта Баскетболиста» дает скидки и спец. условия в сети компаний, основанных баскетболистами. Это позволяет реализовать уникальный принцип «Б2Б», когда для вас все делают, как для себя!
			.what__note Опыт показывает, что при таком подходе риск брака, неквалифицированных услуг или обмана практически нулевой. При этом вы еще и 
				span скидки получаете!