@css {
	
	@font-face {
		font-family: 'Proxima Nova Bl';
		src: local('Proxima Nova Black'), local('ProximaNova-Black'),
			url('../fonts/hinted-subset-ProximaNova-Black.woff2') format('woff2'),
			url('../fonts/hinted-subset-ProximaNova-Black.woff') format('woff');
		font-weight: 900;
		font-style: normal;
	}	
	
	@font-face {
		font-family: 'Proxima Nova Rg';
		src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
			url('../fonts/hinted-subset-ProximaNova-Regular.woff2') format('woff2'),
			url('../fonts/hinted-subset-ProximaNova-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Proxima Nova Rg';
		src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
			url('../fonts/hinted-subset-ProximaNova-Bold.woff2') format('woff2'),
			url('../fonts/hinted-subset-ProximaNova-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Proxima Nova Lt';
		src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
			url('../fonts/hinted-subset-ProximaNova-Semibold.woff2') format('woff2'),
			url('../fonts/hinted-subset-ProximaNova-Semibold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
	}
	
}


$pS = 'Proxima Nova Lt' , Arial,'Helvetica Neue',Helvetica,sans-serif
$p = 'Proxima Nova Rg' , Arial,'Helvetica Neue',Helvetica,sans-serif
$pBl = 'Proxima Nova Bl' , Arial,'Helvetica Neue',Helvetica,sans-serif


