include ../icon/icon

mixin testimonials()
	section.testimonials&attributes(attributes)
		.testimonials__in
			h2.testimonials__title.title Отзывы
			ul.testimonials__list
				li.testimonials__item
					a.testimonials__link(href="#")
						.testimonials__top
							.testimonials__item-title Название сервиса
							.testimonials__date 12/01/2019
							.testimonials__rating.rating
								+icon('star', true).rating__star
								| Оценка:
								.rating__num 9,5
						
						.testimonials__text Praesent hendrerit pharetra dui sit amet tempor. Maecenas aliquam in est vel ullamcorper. Nunc pretium ex nec luctus fringilla. Integer vestibulum, leo nec imperdiet feugiat, diam risus euismod enim, sed rutrum lorem mauris id eros. Cras ultricies convallis imperdiet. Praesent non tincidunt erat, nec cursus purus. 
							

				li.testimonials__item
					a.testimonials__link(href="#")
						.testimonials__top
							.testimonials__item-title Название сервиса
							.testimonials__date 12/01/2019
							.testimonials__rating.rating
								+icon('star', true).rating__star
								| Оценка:
								.rating__num 9,5
						
						.testimonials__text Praesent hendrerit pharetra dui sit amet tempor. Maecenas aliquam in est vel ullamcorper. Nunc pretium ex nec luctus fringilla. Integer vestibulum, leo nec imperdiet feugiat, diam risus euismod enim, sed rutrum lorem mauris id eros. Cras ultricies convallis imperdiet. Praesent non tincidunt erat, nec cursus purus. 


				li.testimonials__item
					a.testimonials__link(href="#")
						.testimonials__top
							.testimonials__item-title Название сервиса
							.testimonials__date 12/01/2019
							.testimonials__rating.rating
								+icon('star', true).rating__star
								| Оценка:
								.rating__num 9,5
						
						.testimonials__text Praesent hendrerit pharetra dui sit amet tempor. Maecenas aliquam in est vel ullamcorper. Nunc pretium ex nec luctus fringilla. Integer vestibulum, leo nec imperdiet feugiat, diam risus euismod enim, sed rutrum lorem mauris id eros. Cras ultricies convallis imperdiet. Praesent non tincidunt erat, nec cursus purus. 
						

				li.testimonials__item
					a.testimonials__link(href="#")
						.testimonials__top
							.testimonials__item-title Название сервиса
							.testimonials__date 12/01/2019
							.testimonials__rating.rating
								+icon('star', true).rating__star
								| Оценка:
								.rating__num 9,5
						
						.testimonials__text Praesent hendrerit pharetra dui sit amet tempor. Maecenas aliquam in est vel ullamcorper. Nunc pretium ex nec luctus fringilla. Integer vestibulum, leo nec imperdiet feugiat, diam risus euismod enim, sed rutrum lorem mauris id eros. Cras ultricies convallis imperdiet. Praesent non tincidunt erat, nec cursus purus. 
						

				li.testimonials__item
					a.testimonials__link(href="#")
						.testimonials__top
							.testimonials__item-title Название сервиса
							.testimonials__date 12/01/2019
							.testimonials__rating.rating
								+icon('star', true).rating__star
								| Оценка:
								.rating__num 9,5
						
						.testimonials__text Praesent hendrerit pharetra dui sit amet tempor. Maecenas aliquam in est vel ullamcorper. Nunc pretium ex nec luctus fringilla. Integer vestibulum, leo nec imperdiet feugiat, diam risus euismod enim, sed rutrum lorem mauris id eros. Cras ultricies convallis imperdiet. Praesent non tincidunt erat, nec cursus purus. 
						

				li.testimonials__item
					a.testimonials__link(href="#")
						.testimonials__top
							.testimonials__item-title Название сервиса
							.testimonials__date 12/01/2019
							.testimonials__rating.rating
								+icon('star', true).rating__star
								| Оценка:
								.rating__num 9,5
						
						.testimonials__text Praesent hendrerit pharetra dui sit amet tempor. Maecenas aliquam in est vel ullamcorper. Nunc pretium ex nec luctus fringilla. Integer vestibulum, leo nec imperdiet feugiat, diam risus euismod enim, sed rutrum lorem mauris id eros. Cras ultricies convallis imperdiet. Praesent non tincidunt erat, nec cursus purus. 
						


				li.testimonials__item
					a.testimonials__link(href="#")
						.testimonials__top
							.testimonials__item-title Название сервиса
							.testimonials__date 12/01/2019
							.testimonials__rating.rating
								+icon('star', true).rating__star
								| Оценка:
								.rating__num 9,5
						
						.testimonials__text Praesent hendrerit pharetra dui sit amet tempor. Maecenas aliquam in est vel ullamcorper. Nunc pretium ex nec luctus fringilla. Integer vestibulum, leo nec imperdiet feugiat, diam risus euismod enim, sed rutrum lorem mauris id eros. Cras ultricies convallis imperdiet. Praesent non tincidunt erat, nec cursus purus. 