.testimonials
	&__in
		@extends .in
		padding-top $pV
		padding-bottom $pV
		+r($t)
			padding-top 20px
			padding-bottom 20px

	&__title
		margin-bottom 19px
		text-align center
		+r($t)
			margin-bottom 10px
	&__item
		position relative
		padding-top 40px
		padding-right 40px
		padding-bottom 40px
		padding-left 40px
		background-color #ffffff
		box-shadow 0 8px 16px rgba(120, 119, 119, 0.24)
		border-radius 4px
		transform scale(1)
		+r($t)
			padding-top 20px
			padding-right 20px
			padding-bottom 20px
			padding-left 20px
			text-align left
	&__link
		text-decoration none
		color inherit

	.slick-slide
		position relative
		padding-top 38px
		padding-bottom 38px
		width 426px
		+r($t)
			margin-left 10px
			margin-right 10px
			padding-top 0
			padding-bottom 30px
			width auto
			text-align center
		.testimonials__item
			filter blur(2px)
			transform scale(.9)
			tr(transform .3s ease)

	.slick-current
		.testimonials__item
			position absolute
			z-index 1
			top 0
			left 50%
			width 570px !important
			transform scale(1) translateX(-50%)
			filter blur(0)
			tr(transform .3s ease)
			+r($t)
				position static
				width auto !important
				transform none
			+r($m)
				z-index 0


			.testimonials__top	
				position relative
				margin-bottom 18px
				font-family $pS
				+r($t)
					margin-bottom 10px
			.testimonials__item-title
				margin-bottom 3px
				color #313131
				font-size 24px
				font-weight 600
				letter-spacing 0.3px
				line-height 1.333
				+r($t)
					font-size 18px
					letter-spacing 0.23px
			.testimonials__date
				position absolute
				top 8px
				right 0
				font-size 12px
				font-weight 600
				letter-spacing 0.15px
				line-height 1.333
				+r($t)
					font-size 10px
					letter-spacing 0.13px
			.testimonials__text
				max-height 140px
				+r($t)
					max-height 100%
					font-size 12px
					letter-spacing 0.08px


	&__text
		max-height 80px
		overflow hidden
		opacity 0.8
		font-size 16px
		font-weight 400
		letter-spacing 0.1px
		line-height 1.75
		+r($t)
			max-height 100%
			font-size 12px
			letter-spacing 0.08px
	&__top
		position relative
		margin-bottom 18px
		font-family $pS
		+r($t)
			margin-bottom 10px
	&__item-title
		margin-bottom 3px
		color #313131
		font-size 24px
		font-weight 600
		letter-spacing 0.3px
		line-height 1.333
		+r($t)
			font-size 18px
			letter-spacing 0.23px
	&__date
		position absolute
		top 8px
		right 0
		opacity 0.5
		font-size 12px
		font-weight 600
		letter-spacing 0.15px
		line-height 1.333
		+r($t)
			font-size 10px
			letter-spacing 0.13px

	&__text
		opacity 0.8
		font-size 16px
		font-weight 400
		letter-spacing 0.1px
		line-height 1.75


	.slick-arrow,
	&__arrow
		width 16px
		height 32px
		cursor pointer
		+r($t)
			width 13px
			height 25px
		&:before
			display none
	.slick-next,
	&__next
		right 30px
		+r($t)
			right 10px
			transform  translateY(100%)
	.slick-prev,
	&__prev
		z-index 1
		left 30px
		transform rotate(180deg) 
		+r($t)
			left 10px
			transform  translateY(100%) rotate(-180deg) 

	.slick-arrow
		+r($t)
			z-index 2
			top calc(100% - 28px)


	.slick-dots
		+r($t)
			top 100%
			bottom auto
		li
			position relative
			border 1px solid transparent
			width 18px
			height 18px
			border-radius 50%
			background #fff
			cursor pointer
			button
				position absolute
				top 50%
				left 50%
				border 0px solid transparent
				width 0px
				height 0px
				background-color #f5861f
				opacity 0.5
				border-radius 50%
				transform translate(-50%, -50%)
				&:before
					display none

			&.slick-active
				border 1px solid #ec5b1c
				background #fff
				button
					border 3px solid #fff
					width 16px
					height 16px
					background-color #ec5b1c
					opacity 1

.rating
	display flex
	flex-flow row
	justify-content flex-start
	align-items center
	&__star
		margin-right 16px
		width 16px
		height 15px
	&__num
		margin-left 8px
		color #ec5b1c
		font-size 19px
		font-weight 700
		letter-spacing 0.24px
