extends /blocks/layout-default/layout-default

include /blocks/basketcard/basketcard
include /blocks/principle/principle
include /blocks/steps/steps
include /blocks/what/what
include /blocks/testimonials/testimonials
include /blocks/tell/tell
include /blocks/partnerslist/partnerslist
include /blocks/how/how
include /blocks/news/news


block head
	- var pageTitle = 'login - ilovebasket.ru';

block content
	+basketcard()
	+partnerslist()
	+news().news_second
	+testimonials()
	+tell()
	+how()
