mixin partners()
	section.partners&attributes(attributes)
		.partners__in
			h2.partners__title.title Наши партнеры
			ul.partners__list
				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-1.png", alt="")
					.partners__partner-text Москомспорт

				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-2.png", alt="")
					.partners__partner-text Росийская федерация баскетбола

				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-3.png", alt="")
					.partners__partner-text АСБ
				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-4.png", alt="")
					.partners__partner-text МБЛ  
				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-1.png", alt="")
					.partners__partner-text Москомспорт
				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-2.png", alt="")
					.partners__partner-text Росийская федерация баскетбола
				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-3.png", alt="")
					.partners__partner-text АСБ
				li.partners__item
					.partners__partner
						img(src="assets/images/general/partner-4.png", alt="")
					.partners__partner-text МБЛ

			.partners__text Спец. условия: 
				span скидка 10% 
				|  на все товары


			a.partners__button.button.button_link(href="#" data-text="Все партнеры") Все партнеры