include ../form/form

mixin tell()
	section.tell&attributes(attributes)
		.tell__in
			h2.tell__title Воспользовались «Картой Баскетболиста»? Расскажите нам!
			.tell__text
				p Написав в эту форму, вы отправите сообщение руководителям МЛБЛ, и они смогут оценить качество оказанной услуги, что позволит принять решение о продолжении сотрудничества с компанией или о прекращении сотрудничества в случае нарушений низкого низкого уровня сервиса.
			.tell__form
				.tell__form-title Напишите нам!
				.tell__form-note Для того, чтобы оставить отзыв необходимо
					a(href="#") авторизоваться
				+form()(action="" method="")
