mixin news()
	section.news&attributes(attributes)
		.news__in
			h2.news__title.title Новости
			ul.news__list
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-1.jpg", alt="")
						.news__text Proin erat sem, aliquet vitae nibh vel
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-2.jpg", alt="")
						.news__text Proin erat sem
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-3.jpg", alt="")
						.news__text Proin erat sem, aliquet vitae nibh vel
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-4.jpg", alt="")
						.news__text Proin erat sem
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-5.jpg", alt="")
						.news__text Proin erat sem, aliquet vitae nibh vel
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-6.jpg", alt="")
						.news__text Proin erat sem
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-1.jpg", alt="")
						.news__text Proin erat sem, aliquet vitae nibh vel
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-2.jpg", alt="")
						.news__text Proin erat sem
				li.news__item
					a.news__link(href="#link")
						.news__image
							img(src="assets/images/content/news-3.jpg", alt="")
						.news__text Proin erat sem, aliquet vitae nibh vel