mixin how()
	section.how&attributes(attributes)
		.how__in
			h2.how__title.title Как стать партнером?
			.how__text
				p Если вы баскетболист, у вас есть свой бизнес, и вы хотите расширить свою аудиторию, предоставив эксклюзивные условия для баскетболистов вашего города или всей страны, напишите письмо на 
					a(href="mailto:zimin@ilovebasket.ru") zimin@ilovebasket.ru
			.how__note с описанием вашего бизнеса и спец. условиями, которые вы готовы предоставить. Если нам понравится ваше предложение, то мы добавим вас в программу лояльности и сделаем так, чтобы о вас узнал каждый баскетболист программы!